<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <span *ngIf="title">{{ title }}</span>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li *ngFor="let navLink of navLinks">
        <a *ngIf="!navLink.accent" mat-button [routerLink]="[navLink.to]">
          {{ navLink.text }}
        </a>
        <a
          *ngIf="navLink.accent"
          mat-raised-button
          [routerLink]="[navLink.to]"
          color="accent"
        >
          {{ navLink.text }}
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
