<form [formGroup]="stepForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Seleccione el tipo de usuario</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{ getErrorMessage("role") }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        formControlName="firstName"
        matInput
        type="text"
        placeholder="Ingresa tu nombre"
        required
      />
      <mat-error>
        {{ getErrorMessage("firstName") }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input
        formControlName="lastName"
        matInput
        type="text"
        placeholder="Ingresa tu apellido"
        required
      />
      <mat-error>
        {{ getErrorMessage("lastName") }}
      </mat-error>
    </mat-form-field>
  </div>

  <div
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayout.xs="column"
    fxLayoutGap.xs="0px"
  >
    <mat-form-field appearance="outline">
      <mat-label>Edad</mat-label>
      <input
        formControlName="age"
        matInput
        type="number"
        placeholder="Ingresa tu edad"
        min="1"
        max="120"
        required
      />

      <!-- <span *ngIf="stepForm.get('age')?.errors?.ageValidator"
        >Only for age group 20 to 70</span
      > -->
      <mat-error>
        {{ getErrorMessage("age") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <input
        formControlName="dni"
        matInput
        type="text"
        placeholder="Ingresa tu dni"
        required
      />
      <mat-error>
        {{ getErrorMessage("dni") }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>FOTOS</mat-label>
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <input
        formControlName="photos"
        matInput
        type="text"
        placeholder="Ingresa tu foto"
        required
      />
      <mat-error>
        {{ getErrorMessage("photos") }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field
      appearance="outline"
      *ngIf="stepForm.controls.role.value && !isPatient"
    >
      <mat-label>Especialidades</mat-label>
      <input
        formControlName="specialties"
        matInput
        type="text"
        placeholder="Ingresa tus especialidades"
        required
      />
      <mat-error>
        {{ getErrorMessage("specialties") }}
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      *ngIf="stepForm.controls.role.value && isPatient"
    >
      <mat-label>Obra social</mat-label>
      <input
        formControlName="medicalAssistance"
        matInput
        type="text"
        placeholder="Ingresa tu obra social"
        required
      />
      <mat-error>
        {{ getErrorMessage("medicalAssistance") }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="end center">
    <button mat-button matStepperPrevious>Atrás</button>
    <button
      mat-raised-button
      matStepperNext
      color="accent"
      [disabled]="!stepForm.valid"
    >
      Siguiente
    </button>
  </div>
</form>
