<form [formGroup]="stepForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row">
    <mat-form-field appearance="outline">
      <mat-label>Seleccione el tipo de usuario</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input
        formControlName="firstName"
        matInput
        type="text"
        placeholder="Ingresa tu nombre"
        required
      />
      <mat-error>Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input
        formControlName="lastName"
        matInput
        type="text"
        placeholder="Ingresa tu apellido"
        required
      />
      <mat-error>Invalid email</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <mat-form-field appearance="outline">
      <mat-label>Edad</mat-label>
      <!-- TODO: poner min y max -->
      <!-- TODO: poner min y max -->
      <!-- TODO: poner min y max -->
      <!-- TODO: poner min y max -->
      <input
        formControlName="age"
        matInput
        type="number"
        placeholder="Ingresa tu edad"
        required
      />
      <mat-error>Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>DNI</mat-label>
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <!-- TODO: BUSCAR como hacer un masked input para el dni -->
      <input
        formControlName="dni"
        matInput
        type="text"
        placeholder="Ingresa tu dni"
        required
      />
      <mat-error>Invalid email</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
    <mat-form-field appearance="outline">
      <mat-label>Obra social</mat-label>
      <input
        formControlName="medicalAssistance"
        matInput
        type="text"
        placeholder="Ingresa tu obra social"
        required
      />
      <mat-error>Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>FOTOS</mat-label>
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <!-- TODO: buscar librería para mostrar input type="file" -->
      <input
        formControlName="photos"
        matInput
        type="text"
        placeholder="Ingresa tu foto"
        required
      />
      <mat-error>Invalid email</mat-error>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="end center">
    <button mat-button matStepperPrevious>Atrás</button>
    <button
      mat-raised-button
      matStepperNext
      color="accent"
      [disabled]="!stepForm.valid"
    >
      Siguiente
    </button>
  </div>
</form>
