<!-- TODO: agregar un shadow al stepper -->
<!-- TODO: agregar un shadow al stepper -->
<!-- TODO: agregar un shadow al stepper -->
<!-- TODO: agregar un shadow al stepper -->
<!-- TODO: agregar un shadow al stepper -->

<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <h1>Registro</h1>
  </div>

  <!-- style="border: 1px solid red; height: 100%; width: 50%" -->
  <mat-stepper style="border: 1px solid red" linear #stepper>
    <!-- Step 1 -->
    <mat-step label="Tipo de usuario" [stepControl]="stepOneForm">
      <app-step-one-form
        [stepForm]="stepOneForm"
        (onCompleteStep)="onCompleteStepOne($event)"
      >
      </app-step-one-form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step label="Email y contraseña" [stepControl]="stepTwoForm">
      <app-step-two-form
        [stepForm]="stepTwoForm"
        (onCompleteStep)="onCompleteStepTwo($event)"
      ></app-step-two-form>
    </mat-step>

    <!-- Step 3 -->
    <mat-step label="Datos personales" [stepControl]="stepThreeForm">
      <app-step-three-form
        [stepForm]="stepThreeForm"
        (onCompleteStep)="onCompleteStepThree($event)"
      ></app-step-three-form>
    </mat-step>

    <!-- Step 4 -->
    <!-- <mat-step label="Perfil completado">
      <p>¡Tu perfil se ha creado con éxito!</p>

      <div fxLayoutAlign="end center">
        <button mat-raised-button matStepperNext color="accent">
          Ir al backoffice
        </button>
      </div>
    </mat-step> -->
  </mat-stepper>
</div>
