<style>
  .container {
    height: 100%;
  }

  form {
    margin-top: 1.5rem;
  }

  mat-form-field {
    width: 100%;
  }
</style>

<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <h1>Registro</h1>
  </div>

  <!-- TODO: agregar un shadow al stepper -->
  <mat-stepper style="border: 1px solid red">
    <!-- Step 1 -->
    <mat-step label="Tipo de usuario">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Seleccione el tipo de usuario</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxLayoutAlign="end center">
          <button mat-raised-button matStepperNext color="accent">
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step label="Perfil">
      <form>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Ingresa tu email"
              required
            />
            <mat-error>Invalid email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Ingresa tu contraseña"
              required
              [autocomplete]="false"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint>
              La contraseña debe contener 1 mayúscula, etc etc etc ETC
            </mat-hint>
            <mat-error *ngIf="hide === false">Invalid email</mat-error>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="end center">
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-raised-button matStepperNext color="accent">
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 3 -->
    <mat-step label="Datos personales">
      <form>
        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ingresa tu nombre"
              required
            />
            <mat-error>Invalid email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ingresa tu apellido"
              required
            />
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
          <mat-form-field appearance="outline">
            <mat-label>Edad</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ingresa tu edad"
              required
            />
            <mat-error>Invalid email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput type="text" placeholder="Ingresa tu dni" required />
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
          <mat-form-field appearance="outline">
            <mat-label>Obra social</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>FOTOS</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ingresa tu foto"
              required
            />
            <mat-error>Invalid email</mat-error>
          </mat-form-field>
        </div>

        <div fxLayoutAlign="end center">
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-raised-button matStepperNext color="accent">
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 4 -->
    <mat-step label="Perfil completado">
      <!-- <ng-template matStepLabel>Estado del perfil:</ng-template> -->

      <p>¡Tu perfil se ha creado con éxito!</p>

      <div fxLayoutAlign="end center">
        <button mat-raised-button matStepperNext color="accent">
          Ir al backoffice
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
