<form (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Seleccione el tipo de usuario</mat-label>
    <mat-select [formControl]="stepForm" required>
      <mat-option *ngFor="let role of roles" [value]="role.value">
        {{ role.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayoutAlign="end center">
    <button
      type="submit"
      mat-raised-button
      matStepperNext
      color="accent"
      [disabled]="!stepForm.valid"
    >
      Siguiente
    </button>
  </div>
</form>
